<!DOCTYPE html>
<html>

<head>
   
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/passport.png" type="">
   

    <title> Anas </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        body {
            background-color: #fff;
        }
        .container2 {
            width: 1400px;
            height: 90px;
            margin: 0 auto;
            background-color: #0c0c0c;
            
        }
    </style>
</head>

<body>

   @*  <div class="hero_area">
        <div class="bg-box">
            <img src="~/images/_be29efae-7356-44df-8101-489eae8a664e-5.jpg" alt="">
            
        </div> *@
        <!-- header section strats -->

    <header class="header_section" style="background-color:#222831;">
            <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container  " >
                    <a class="navbar-brand" href="index.html">
                        <img src="~/images/icons8-passport-64.png" width="50" height="55"  />
                        <span style="font-family:'Times New Roman', Times, serif; ">
                            Renewing Passport
                        </span>

                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right:130px">
                    <ul class="navbar-nav  mx-auto " >
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Passports/">Requests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Reviews">Evaluation</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/Home/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Contact">Contact</a>
                            </li>
                            <li><partial name="_LoginPartial" /></li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
   @*  <div class="hero_area">
        <div class="bg-box">
            <img src="~/images/_be29efae-7356-44df-8101-489eae8a664e-5.jpg" alt="">

        </div>
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1 style="font-family:'Times New Roman', Times, serif">
                                            Request Renewing 
                                        </h1>
                                        <p>
                                            Effortlessly renew your passport with our streamlined process. Simple steps, quick turnaround – ensuring your travel documents are always ready for your next adventure. Travel confidently with our easy passport renewal section.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Do Request
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1 style="font-family:'Times New Roman', Times, serif">
                                            Evaluation 
                                        </h1>
                                        <p>

                                            Navigate the Evaluation Section for a swift and efficient passport renewal experience. Our user-friendly platform ensures a seamless process, providing clear steps to verify and assess your renewal application. Trust us for a quick and reliable evaluation, making sure your travel documents are ready for your next journey.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Evaluation
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1 style="font-family:'Times New Roman', Times, serif">
                                         About Us
                                        </h1>
                                        <p>
                                            Discover the heart of our Passport Renewal service in the About Us section. Learn about our commitment to efficiency, security, and customer satisfaction. Trust our dedicated team with your passport renewal needs, ensuring a seamless process from start to finish. Your journey begins with a partner you can rely on.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                About Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1 style="font-family:'Times New Roman', Times, serif">
                                            Contact Us
                                        </h1>
                                        <p>

                                            Connect effortlessly with our dedicated team through the Contact Us section. Have questions or need assistance with your passport renewal? We're here to help! Reach out for prompt and reliable support, ensuring a smooth and stress-free experience. Your passport renewal journey starts with a simple click.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Contact Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                        <li data-target="#customCarousel1" data-slide-to="3"></li>
                    </ol>
                </div>
            </div>

        </section> *@
        <!-- end slider section -->
    </div>

    <main role="main" class="pb-3" style=" margin-bottom:400px;">
        @RenderBody()
    </main>
    <!-- end client section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4 style="color:#ffbe33;font-family:'Times New Roman', Times, serif">
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +966 532317652
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    anas.masoud9@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo" style="color:#ffbe33;font-family:'Times New Roman', Times, serif">
                            Renewing Passport
                        </a>
                        <p>
                            Renew Passport is your trusted partner for hassle-free passport renewal. Start your renewal journey today and experience the convenience of online passport services like never before. Travel with confidence with RenewPass by your side.
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4 style="color:#ffbe33;font-family:'Times New Roman', Times, serif">
                       Pages
                    </h4>
                    <p >
                        <a style="color:#ffffff" class="nav-link" href="book.html">- Requests</a>
                        <a style="color:#ffffff" class="nav-link" href="/Reviews">- Evaluation</a>
                        <a style="color:#ffffff" class="nav-link" href="/Home/About">- About</a>
                        <a style="color:#ffffff" class="nav-link" href="/Home/Contact">- Contact</a>
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                  
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank"> Anas Masoud</a>
                </p>
            </div>
        </div>
      
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


@* 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RenewingPassport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RenewingPassport.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RenewingPassport</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - RenewingPassport - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@